-- Example 0
ANTIDISESTABLISHMENTARIANISM
ANTIDISIANISMISM

3
-- Example 1
ANTIDISESTABLISHMENTARIANISM
ESTABLISHMENT

-1
-- Example 2
TOPCODERDOTCOM
TOMTMODERDOTCOM

5
-- Example 3
HELLO
HELLOHEHELLOLOHELLO

5
-- Example 4
DONTFORGETTHEEMPTYCASE


0
-- Example 5
BAAABA
BAAABAAA

2
-- Example 6
ABBBAABABBBAABBABBABABBABAABBAABBBBBABBABABBABAABB
BBBAABABBBAABBABBABABBABAABBAABBBBBABBABABBABAABAA

17
